Flask==2.3.2
torch==2.0.1
diffusers==0.12.1
transformers==4.30.2
speechrecognition==3.8.1
nltk==3.8.1
opencv-python==4.8.0.76
mediapipe==0.10.2
Flask-SocketIO==5.3.4
pyautogui==0.9.53
numpy==1.23.5
